# Data Cleaning and Transformation
## Notebook 1

Group project by:
    - Tinuke Durotolu
    - Sara Ruini
    - Susan Yousefi

<b> Data source: </b> https://archive.ics.uci.edu/ml/datasets/Diabetes+130-US+hospitals+for+years+1999-2008# 

<b> Reference: </b>
Beata Strack, Jonathan P. DeShazo, Chris Gennings, Juan L. Olmo, Sebastian Ventura, Krzysztof J. Cios, and John N. Clore, “Impact of HbA1c Measurement on Hospital Readmission Rates: Analysis of 70,000 Clinical Database Patient Records,” BioMed Research International, vol. 2014, Article ID 781670, 11 pages, 2014.

In [1]:
#libraries needed
import pandas as pd
import numpy as np
import os

## Dataset challenges
This dataset has been pre-cleaned. However, there's some modifications that we need to perform.

### About the medicines
# ADD SOURCE?!?!??!??!??!?!!? ->

    - Metformin is a biguanide that lowers blood sugar levels.
    - Repaglinide and Nateglinide belongs to metglinides drug class and also helps lower blood glucose levels.
    - Tolbutamide, glimepiride and glipizide are sulfonylureas that help stimulate pancreas to produce insulin.
    - Pioglitazine is a thiazolidinedione and increased the sensitivity of body cells to insulin.
    - The other groups include gliptins, insulins and the other medications we have grouped as others.
    
In the column of each medicine (e.g. 'metmorfin'), "Up" means that the medicine got incresed, "Down" means that it got decreased, "Steady" means that the dosage has not changed and "No" means it was not prescribed.

### This dataset contains...

- the main diabetic data file ("diabetic_data_csv")
- the ID mapping to "admission_type_id" ("IDs_mapping.csv").

For convenience, we are going to main dataset 'df' and the ids 'ids'.

In [2]:
df = pd.read_csv("diabetic_data.csv", encoding="Latin-1")
ids = pd.read_csv("IDs_mapping.csv", encoding="Latin-1")

## Visualising the datasets

First of all, we are going to visualise the datatype of each column in the dataset and see if there is any missing values.

Our aim is to remove unnecessary values and columns and remove any information that we consider redundant.

## IDs_mapping dataframe analysis('ids')

In [3]:
ids

,admission_type_id,description
0,1,Emergency
1,2,Urgent
2,3,Elective
3,4,Newborn
4,5,Not Available
5,6,NaN
6,7,Trauma Center
7,8,Not Mapped
8,NaN,NaN
9,discharge_disposition_id,description
10,1,Discharged to home
11,2,Discharged/transferred to another short term h...
12,3,Discharged/transferred to SNF
13,4,Discharged/transferred to ICF
14,5,Discharged/transferred to another type of inpa...
15,6,Discharged/transferred to home with home healt...
16,7,Left AMA
17,8,Discharged/transferred to home under care of H...
18,9,Admitted as an inpatient to this hospital
19,10,Neonate discharged to another hospital for neo...
20,11,Expired
21,12,Still patient or expected to return for outpat...
22,13,Hospice / home
23,14,Hospice / medical facility
24,15,Discharged/transferred within this institution...
25,16,Discharged/transferred/referred another instit...
26,17,Discharged/transferred/referred to this instit...
27,18,NaN
28,19,"Expired at home. Medicaid only, hospice."
29,20,"Expired in a medical facility. Medicaid only, ..."
...,...,...
37,27,Discharged/transferred to a federal health car...
38,28,Discharged/transferred/referred to a psychiatr...
39,29,Discharged/transferred to a Critical Access Ho...
40,NaN,NaN
41,admission_source_id,description
42,1,Physician Referral
43,2,Clinic Referral
44,3,HMO Referral
45,4,Transfer from a hospital
46,5,Transfer from a Skilled Nursing Facility (SNF)
47,6,Transfer from another health care facility
48,7,Emergency Room
49,8,Court/Law Enforcement
50,9,Not Available
51,10,Transfer from critial access hospital
52,11,Normal Delivery
53,12,Premature Delivery
54,13,Sick Baby
55,14,Extramural Birth
56,15,Not Available
57,17,NaN
58,18,Transfer From Another Home Health Agency
59,19,Readmission to Same Home Health Agency
60,20,Not Mapped
61,21,Unknown/Invalid
62,22,Transfer from hospital inpt/same fac reslt in...
63,23,Born inside this hospital
64,24,Born outside this hospital
65,25,Transfer from Ambulatory Surgery Center
66,26,Transfer from Hospice

We can see that there's three ids being mapped: admission_type_id, discharge_disposition_id, admission_source_id.

We will only keep the first two ids and save them into separate dataframes.

## Removing unnecessary values

In [4]:
#removing values for 'admission_source_id' as they are noted needed
ids = ids.drop(ids.index[list(np.arange(41,67))])
ids_nulls = ids[ids.isnull().any(axis=1)]

In [5]:
ids_nulls

   admission_type_id description
5                  6         NaN
8                NaN         NaN
27                18         NaN
40               NaN         NaN

Later, we will delete values 6 and NaN from 'admission_type_id', and 18 and 40 from 'discharge_disposition_id'

In [6]:
ids

,admission_type_id,description
0,1,Emergency
1,2,Urgent
2,3,Elective
3,4,Newborn
4,5,Not Available
5,6,NaN
6,7,Trauma Center
7,8,Not Mapped
8,NaN,NaN
9,discharge_disposition_id,description
10,1,Discharged to home
11,2,Discharged/transferred to another short term h...
12,3,Discharged/transferred to SNF
13,4,Discharged/transferred to ICF
14,5,Discharged/transferred to another type of inpa...
15,6,Discharged/transferred to home with home healt...
16,7,Left AMA
17,8,Discharged/transferred to home under care of H...
18,9,Admitted as an inpatient to this hospital
19,10,Neonate discharged to another hospital for neo...
20,11,Expired
21,12,Still patient or expected to return for outpat...
22,13,Hospice / home
23,14,Hospice / medical facility
24,15,Discharged/transferred within this institution...
25,16,Discharged/transferred/referred another instit...
26,17,Discharged/transferred/referred to this instit...
27,18,NaN
28,19,"Expired at home. Medicaid only, hospice."
29,20,"Expired in a medical facility. Medicaid only, ..."
30,21,"Expired, place unknown. Medicaid only, hospice."
31,22,Discharged/transferred to another rehab fac in...
32,23,Discharged/transferred to a long term care hos...
33,24,Discharged/transferred to a nursing facility c...
34,25,Not Mapped
35,26,Unknown/Invalid
36,30,Discharged/transferred to another Type of Heal...
37,27,Discharged/transferred to a federal health car...
38,28,Discharged/transferred/referred to a psychiatr...
39,29,Discharged/transferred to a Critical Access Ho...
40,NaN,NaN

In [7]:
discharge_disposition_id_df = ids.loc[10:].copy()
#separating values for discharge_disposition_id
admission_type_id_df = ids.loc[:8].copy()
admission_type_id_df

  admission_type_id    description
0                 1      Emergency
1                 2         Urgent
2                 3       Elective
3                 4        Newborn
4                 5  Not Available
5                 6            NaN
6                 7  Trauma Center
7                 8     Not Mapped
8               NaN            NaN

In [8]:
admission_type_id_df = admission_type_id_df.dropna()
admission_type_id_df

  admission_type_id    description
0                 1      Emergency
1                 2         Urgent
2                 3       Elective
3                 4        Newborn
4                 5  Not Available
6                 7  Trauma Center
7                 8     Not Mapped

In [9]:
discharge_disposition_id_df = discharge_disposition_id_df.dropna()
discharge_disposition_id_df = discharge_disposition_id_df.rename(columns={"admission_type_id": "discharge_disposition_id"})
discharge_disposition_id_df

   discharge_disposition_id                                        description
10                        1                                 Discharged to home
11                        2  Discharged/transferred to another short term h...
12                        3                      Discharged/transferred to SNF
13                        4                      Discharged/transferred to ICF
14                        5  Discharged/transferred to another type of inpa...
15                        6  Discharged/transferred to home with home healt...
16                        7                                           Left AMA
17                        8  Discharged/transferred to home under care of H...
18                        9          Admitted as an inpatient to this hospital
19                       10  Neonate discharged to another hospital for neo...
20                       11                                            Expired
21                       12  Still patient or expected to return for outpat...
22                       13                                     Hospice / home
23                       14                         Hospice / medical facility
24                       15  Discharged/transferred within this institution...
25                       16  Discharged/transferred/referred another instit...
26                       17  Discharged/transferred/referred to this instit...
28                       19           Expired at home. Medicaid only, hospice.
29                       20  Expired in a medical facility. Medicaid only, ...
30                       21    Expired, place unknown. Medicaid only, hospice.
31                       22  Discharged/transferred to another rehab fac in...
32                       23  Discharged/transferred to a long term care hos...
33                       24  Discharged/transferred to a nursing facility c...
34                       25                                         Not Mapped
35                       26                                    Unknown/Invalid
36                       30  Discharged/transferred to another Type of Heal...
37                       27  Discharged/transferred to a federal health car...
38                       28  Discharged/transferred/referred to a psychiatr...
39                       29  Discharged/transferred to a Critical Access Ho...

## diabetic_data dataframe analysis('df')
We will visualise the info of the dataset (presence of null-values) for each column, show the head and tail of the dataset and show the percentage of unique value_counts.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
encounter_id                101766 non-null int64
patient_nbr                 101766 non-null int64
race                        101766 non-null object
gender                      101766 non-null object
age                         101766 non-null object
weight                      101766 non-null object
admission_type_id           101766 non-null int64
discharge_disposition_id    101766 non-null int64
admission_source_id         101766 non-null int64
time_in_hospital            101766 non-null int64
payer_code                  101766 non-null object
medical_specialty           101766 non-null object
num_lab_procedures          101766 non-null int64
num_procedures              101766 non-null int64
num_medications             101766 non-null int64
number_outpatient           101766 non-null int64
number_emergency            101766 non-null int64
number_inpatient            101766 non-null int64
diag_1                      101766 non-null object
diag_2                      101766 non-null object
diag_3                      101766 non-null object
number_diagnoses            101766 non-null int64
max_glu_serum               101766 non-null object
A1Cresult                   101766 non-null object
metformin                   101766 non-null object
repaglinide                 101766 non-null object
nateglinide                 101766 non-null object
chlorpropamide              101766 non-null object
glimepiride                 101766 non-null object
acetohexamide               101766 non-null object
glipizide                   101766 non-null object
glyburide                   101766 non-null object
tolbutamide                 101766 non-null object
pioglitazone                101766 non-null object
rosiglitazone               101766 non-null object
acarbose                    101766 non-null object
miglitol                    101766 non-null object
troglitazone                101766 non-null object
tolazamide                  101766 non-null object
examide                     101766 non-null object
citoglipton                 101766 non-null object
insulin                     101766 non-null object
glyburide-metformin         101766 non-null object
glipizide-metformin         101766 non-null object
glimepiride-pioglitazone    101766 non-null object
metformin-rosiglitazone     101766 non-null object
metformin-pioglitazone      101766 non-null object
change                      101766 non-null object
diabetesMed                 101766 non-null object
readmitted                  101766 non-null object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

There are a total of 101766 data entries in this dataset.

Before analysing this dataframe further, we will drop unnecessary columns. Specifically, we will delete medicines prescribed that are not used in the UK and some variables that are not needed for our model.

In [11]:
to_drop = ['weight','medical_specialty','max_glu_serum', 'admission_source_id', 'encounter_id','patient_nbr', 'diag_1', 'diag_2', 'diag_3', 'payer_code', 'A1Cresult','glyburide-metformin',  'chlorpropamide',  'tolazamide', 'glipizide-metformin', 'glimepiride-pioglitazone','metformin-rosiglitazone','metformin-pioglitazone', 'nateglinide', 'examide', 'rosiglitazone','miglitol', 'acetohexamide', 'glipizide', 'glyburide', 'troglitazone']
df.drop(to_drop, inplace=True, axis=1)

In [12]:
df.head(5)

,race,gender,age,admission_type_id,discharge_disposition_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,repaglinide,glimepiride,tolbutamide,pioglitazone,acarbose,citoglipton,insulin,change,diabetesMed,readmitted
0,Caucasian,Female,[0-10),6,25,1,41,0,1,0,...,No,No,No,No,No,No,No,No,No,NO
1,Caucasian,Female,[10-20),1,1,3,59,0,18,0,...,No,No,No,No,No,No,Up,Ch,Yes,>30
2,AfricanAmerican,Female,[20-30),1,1,2,11,5,13,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,Caucasian,Male,[30-40),1,1,2,44,1,16,0,...,No,No,No,No,No,No,Up,Ch,Yes,NO
4,Caucasian,Male,[40-50),1,1,1,51,0,8,0,...,No,No,No,No,No,No,Steady,Ch,Yes,NO

In [13]:
df.tail(5)

,race,gender,age,admission_type_id,discharge_disposition_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,repaglinide,glimepiride,tolbutamide,pioglitazone,acarbose,citoglipton,insulin,change,diabetesMed,readmitted
101761,AfricanAmerican,Male,[70-80),1,3,3,51,0,16,0,...,No,No,No,No,No,No,Down,Ch,Yes,>30
101762,AfricanAmerican,Female,[80-90),1,4,5,33,3,18,0,...,No,No,No,No,No,No,Steady,No,Yes,NO
101763,Caucasian,Male,[70-80),1,1,1,53,0,9,1,...,No,No,No,No,No,No,Down,Ch,Yes,NO
101764,Caucasian,Female,[80-90),2,3,10,45,2,21,0,...,No,No,No,Steady,No,No,Up,Ch,Yes,NO
101765,Caucasian,Male,[70-80),1,1,6,13,3,3,0,...,No,No,No,No,No,No,No,No,No,NO

In [14]:
df = df.dropna(axis=0, how="any")
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 101766 entries, 0 to 101765
Data columns (total 24 columns):
race                        101766 non-null object
gender                      101766 non-null object
age                         101766 non-null object
admission_type_id           101766 non-null int64
discharge_disposition_id    101766 non-null int64
time_in_hospital            101766 non-null int64
num_lab_procedures          101766 non-null int64
num_procedures              101766 non-null int64
num_medications             101766 non-null int64
number_outpatient           101766 non-null int64
number_emergency            101766 non-null int64
number_inpatient            101766 non-null int64
number_diagnoses            101766 non-null int64
metformin                   101766 non-null object
repaglinide                 101766 non-null object
glimepiride                 101766 non-null object
tolbutamide                 101766 non-null object
pioglitazone                101766 non-null object
acarbose                    101766 non-null object
citoglipton                 101766 non-null object
insulin                     101766 non-null object
change                      101766 non-null object
diabetesMed                 101766 non-null object
readmitted                  101766 non-null object
dtypes: int64(10), object(14)
memory usage: 19.4+ MB

In [15]:
df.describe(include='all')

,race,gender,age,admission_type_id,discharge_disposition_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,...,repaglinide,glimepiride,tolbutamide,pioglitazone,acarbose,citoglipton,insulin,change,diabetesMed,readmitted
count,101766,101766,101766,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,...,101766,101766,101766,101766,101766,101766,101766,101766,101766,101766
unique,6,3,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4,4,2,4,4,1,4,2,2,3
top,Caucasian,Female,[70-80),NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,No,No,No,No,No,No,No,No,Yes,NO
freq,76099,54708,26068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100227,96575,101743,94438,101458,101766,47383,54755,78363,54864
mean,NaN,NaN,NaN,2.024006,3.715642,4.395987,43.095641,1.339730,16.021844,0.369357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,1.445403,5.280166,2.985108,19.674362,1.705807,8.127566,1.267265,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,1.000000,1.000000,4.000000,44.000000,1.000000,15.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,3.000000,4.000000,6.000000,57.000000,2.000000,20.000000,0.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,8.000000,28.000000,14.000000,132.000000,6.000000,81.000000,42.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
def value_counter(dataset):
    for index in df.columns:
        print("---- Index: " + index + "----")
        print(df[index].value_counts(normalize=True, sort=True))
value_counter(df)

---- Index: race----
Caucasian          0.747784
AfricanAmerican    0.188766
?                  0.022336
Hispanic           0.020017
Other              0.014799
Asian              0.006299
Name: race, dtype: float64
---- Index: gender----
Female             0.537586
Male               0.462384
Unknown/Invalid    0.000029
Name: gender, dtype: float64
---- Index: age----
[70-80)     0.256156
[60-70)     0.220928
[50-60)     0.169565
[80-90)     0.168986
[40-50)     0.095169
[30-40)     0.037095
[90-100)    0.027445
[20-30)     0.016282
[10-20)     0.006790
[0-10)      0.001582
Name: age, dtype: float64
---- Index: admission_type_id----
1    0.530531
3    0.185416
2    0.181593
6    0.051992
5    0.047020
8    0.003144
7    0.000206
4    0.000098
Name: admission_type_id, dtype: float64
---- Index: discharge_disposition_id----
1     0.591887
3     0.137118
6     0.126781
18    0.036269
2     0.020911
22    0.019584
11    0.016135
5     0.011635
25    0.009718
4     0.008009
7     0.006122
23    0.004049
13    0.003921
14    0.003655
28    0.001366
8     0.001061
15    0.000619
24    0.000472
9     0.000206
17    0.000138
16    0.000108
19    0.000079
10    0.000059
27    0.000049
12    0.000029
20    0.000020
Name: discharge_disposition_id, dtype: float64
---- Index: time_in_hospital----
3     0.174479
2     0.169251
1     0.139614
4     0.136824
5     0.097931
6     0.074082
7     0.057573
8     0.043148
9     0.029499
10    0.023014
11    0.018228
12    0.014229
13    0.011890
14    0.010239
Name: time_in_hospital, dtype: float64
---- Index: num_lab_procedures----
1      0.031523
43     0.027553
44     0.024527
45     0.023348
38     0.021746
40     0.021628
46     0.021510
41     0.020803
42     0.020763
47     0.020695
39     0.020645
37     0.020429
49     0.020301
48     0.020223
36     0.019280
51     0.018916
50     0.018906
35     0.018739
54     0.018552
56     0.018071
52     0.018061
55     0.018041
53     0.017707
57     0.017167
58     0.016784
34     0.016479
61     0.016096
59     0.015958
60     0.015821
63     0.014248
         ...
89     0.000717
90     0.000639
91     0.000599
93     0.000550
92     0.000472
95     0.000452
94     0.000442
97     0.000305
96     0.000275
98     0.000255
101    0.000128
100    0.000128
99     0.000088
102    0.000079
103    0.000059
105    0.000059
106    0.000049
109    0.000039
108    0.000039
111    0.000029
113    0.000029
104    0.000029
114    0.000020
126    0.000010
132    0.000010
107    0.000010
118    0.000010
129    0.000010
120    0.000010
121    0.000010
Name: num_lab_procedures, Length: 118, dtype: float64
---- Index: num_procedures----
0    0.458424
1    0.203821
2    0.124963
3    0.092791
6    0.048680
4    0.041075
5    0.030246
Name: num_procedures, dtype: float64
---- Index: num_medications----
13    0.059804
12    0.058998
11    0.056944
15    0.056915
14    0.056080
16    0.053358
10    0.052532
17    0.048336
9     0.048277
18    0.044445
8     0.042775
19    0.040072
20    0.036269
7     0.034235
21    0.031739
22    0.028182
6     0.026522
23    0.023839
24    0.020724
5     0.019820
25    0.018552
26    0.015801
27    0.014071
4     0.013924
28    0.012116
29    0.009826
3     0.008844
30    0.008343
31    0.006996
32    0.006122
        ...
45    0.000865
47    0.000727
49    0.000599
48    0.000590
50    0.000540
52    0.000531
51    0.000423
53    0.000393
56    0.000364
54    0.000324
55    0.000314
57    0.000255
58    0.000246
60    0.000226
59    0.000197
62    0.000147
63    0.000138
61    0.000138
65    0.000118
64    0.000079
68    0.000069
67    0.000069
69    0.000049
66    0.000049
72    0.000029
70    0.000020
75    0.000020
74    0.000010
79    0.000010
81    0.000010
Name: num_medications, Length: 75, dtype: float64
---- Index: number_outpatient----
0     0.835515
1     0.083987
2     0.035316
3     0.020066
4     0.010799
5     0.005238
6     0.002977
7     0.001523
8     0.000963
9     0.000816
10    0.000560
11    0.000413
13    0.000305
12    0.000295
14    0.000275
15    0.000197
16    0.000147
17    0.000079
21    0.000069
20    0.000069
22    0.000049
18    0.000049
19    0.000029
24    0.000029
27    0.000029
23    0.000020
25    0.000020
26    0.000020
29    0.000020
33    0.000020
35    0.000020
36    0.000020
40    0.000010
28    0.000010
34    0.000010
37    0.000010
38    0.000010
39    0.000010
42    0.000010
Name: number_outpatient, dtype: float64
---- Index: number_emergency----
0     0.888145
1     0.075438
2     0.020066
3     0.007124
4     0.003675
5     0.001887
6     0.000924
7     0.000717
8     0.000491
10    0.000334
9     0.000324
11    0.000226
13    0.000118
12    0.000098
22    0.000059
18    0.000049
16    0.000049
19    0.000039
20    0.000039
14    0.000029
15    0.000029
21    0.000020
25    0.000020
76    0.000010
54    0.000010
24    0.000010
28    0.000010
29    0.000010
37    0.000010
42    0.000010
46    0.000010
64    0.000010
63    0.000010
Name: number_emergency, dtype: float64
---- Index: number_inpatient----
0     0.664564
1     0.191822
2     0.074347
3     0.033518
4     0.015939
5     0.007979
6     0.004717
7     0.002633
8     0.001484
9     0.001091
10    0.000599
11    0.000481
12    0.000334
13    0.000197
14    0.000098
15    0.000088
16    0.000059
19    0.000020
17    0.000010
18    0.000010
21    0.000010
Name: number_inpatient, dtype: float64
---- Index: number_diagnoses----
9     0.486155
5     0.111953
8     0.104318
7     0.102126
6     0.099847
4     0.054409
3     0.027858
2     0.010052
1     0.002152
16    0.000442
10    0.000167
13    0.000157
11    0.000108
15    0.000098
12    0.000088
14    0.000069
Name: number_diagnoses, dtype: float64
---- Index: metformin----
No        0.803589
Steady    0.180276
Up        0.010485
Down      0.005650
Name: metformin, dtype: float64
---- Index: repaglinide----
No        0.984877
Steady    0.013600
Up        0.001081
Down      0.000442
Name: repaglinide, dtype: float64
---- Index: glimepiride----
No        0.948991
Steady    0.045890
Up        0.003213
Down      0.001906
Name: glimepiride, dtype: float64
---- Index: tolbutamide----
No        0.999774
Steady    0.000226
Name: tolbutamide, dtype: float64
---- Index: pioglitazone----
No        0.927992
Steady    0.068549
Up        0.002299
Down      0.001160
Name: pioglitazone, dtype: float64
---- Index: acarbose----
No        0.996973
Steady    0.002899
Up        0.000098
Down      0.000029
Name: acarbose, dtype: float64
---- Index: citoglipton----
No    1.0
Name: citoglipton, dtype: float64
---- Index: insulin----
No        0.465607
Steady    0.303137
Down      0.120060
Up        0.111196
Name: insulin, dtype: float64
---- Index: change----
No    0.538048
Ch    0.461952
Name: change, dtype: float64
---- Index: diabetesMed----
Yes    0.770031
No     0.229969
Name: diabetesMed, dtype: float64
---- Index: readmitted----
NO     0.539119
>30    0.349282
<30    0.111599
Name: readmitted, dtype: float64

Some columns have a lot of unique numeric values which could be put in ranges. Let's display them to make each category more readable.  These columns are: 'num_lab_procedures', 'num_medications', 

Later, we will also group them by category.

In [17]:
cols_to_range = ['num_lab_procedures', 'num_medications']
for col in cols_to_range:
    unique_val_col = df[col].unique().shape
    print("Column: '" + col + "'. Number of unique values: " + str(unique_val_col) + ".")
    print(df[col].value_counts(bins=10, sort=True))
    print("-------")

Column: 'num_lab_procedures'. Number of unique values: (118,).
(40.3, 53.4]      27814
(27.2, 40.3]      21826
(53.4, 66.5]      20558
(0.868, 14.1]     10318
(14.1, 27.2]      10141
(66.5, 79.6]       8876
(79.6, 92.7]       1915
(92.7, 105.8]       290
(105.8, 118.9]       23
(118.9, 132.0]        5
Name: num_lab_procedures, dtype: int64
-------
Column: 'num_medications'. Number of unique values: (75,).
(9.0, 17.0]     45079
(17.0, 25.0]    24813
(0.919, 9.0]    20515
(25.0, 33.0]     7961
(33.0, 41.0]     2183
(41.0, 49.0]      730
(49.0, 57.0]      320
(57.0, 65.0]      131
(65.0, 73.0]       29
(73.0, 81.0]        5
Name: num_medications, dtype: int64
-------

## List of modifications that we need to perform

At first glance, we have agreed that we need to perform the following changes to the main dataset:

#### 1. Map the description with the value from "admission_type_id" and "discharge_disposition_ids"
#### 2. Remove missing/unclear values.
These include:
    - from 'admission_type_id': 5, 8, 27, 40, 57
    - from 'gender': 'Unknown/Invalid'
    - from 'race': '?'

#### 3. Renaming columns
The goal is to:
    - Clarify what the column in the data is;
    - Conform to python standards (e.g. using snakecase)

## Data Modification

### Step 1. Map the description with the value from "admission_type_id" and "discharge_disposition_ids"

In [18]:
print(np.dtype(df['admission_type_id']))
print(np.dtype(admission_type_id_df['admission_type_id']))
print(np.dtype(admission_type_id_df['description']))

int64
object
object

In [19]:
print(type(df['admission_type_id']))
print(type(admission_type_id_df['description']))
print(type(df['admission_type_id']))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [20]:
admission_type_id_df['admission_type_id'].astype(str)
df['admission_type_id'].astype(int)

0         6
1         1
2         1
3         1
4         1
5         2
6         3
7         1
8         2
9         3
10        1
11        2
12        1
13        1
14        3
15        1
16        1
17        1
18        1
19        3
20        2
21        2
22        2
23        2
24        3
25        1
26        1
27        1
28        2
29        1
         ..
101736    1
101737    3
101738    1
101739    1
101740    3
101741    1
101742    2
101743    1
101744    1
101745    2
101746    1
101747    1
101748    1
101749    3
101750    3
101751    3
101752    3
101753    1
101754    1
101755    1
101756    1
101757    1
101758    1
101759    1
101760    1
101761    1
101762    1
101763    1
101764    2
101765    1
Name: admission_type_id, Length: 101766, dtype: int64

#admission_type_id_df
df_2 = df.admission_type_id.replace(admission_type_id_df.set_index("admission_type_id")["description"])
print(df_2)
#discharge_disposition_id_df

mapping = dict(admission_type_id_df[["admission_type_id", "description"]].values)
df["admission_type_id_desc"] = df.admission_type_id.map(mapping)
df.head()

df_2 = df.merge(admission_type_id_df, on="admission_type_id")
df_2.head()

In [21]:
df_2 = df.join(admission_type_id_df.set_index("admission_type_id"), on=["admission_type_id"])
df_2

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

### Step 2. Remove missing/unclear values.

In [ ]:
df = df[df['gender']!='Unknown/Invalid']
df = df[df['race']!='?']
df = df[df['admission_type_id'] != '6']
df = df[df['admission_type_id'] != 'NaN']
df = df[df['discharge_disposition_id'] != '18']
df = df[df['discharge_disposition_id'] != 'NaN']
df = df.drop(['citoglipton'], axis=1) #citoglipton got dropped because it did not prescribed to anyone

### Step 3. Renaming columns

In [ ]:
df.columns

new_col_names = {
    "time_in_hospital" : "days_in_hospital",
    "admission_type_id": "admission_type",
    "discharge_disposition_id": "discharge_disposition_type",
    "num_procedures": "num_not_lab_procedures",
    "num_medications": "num_current_medications",
    "num_diagnoses": "num_existing_conditions",
    "change":"change_in_meds",
    "diabetesMed": "diabates_med_prescribed",
    "number_emergency": "num_previous_emergencies"
    }
df = df.rename(columns=new_col_names)
df.columns

## Data Cleaning and Transformation conclusion
At first glance, we can notice that the majority of people being re-admitted are:
- Caucasian
- Female
- Aged 50+
- takes between 9 and 17 medications
# TO BE FINISHED

In [22]:
df.to_csv("cleaned_data_v4.csv")