In [69]:
#libraries needed
import pandas as pd
import numpy as np
import os

Data source: https://archive.ics.uci.edu/ml/datasets/Diabetes+130-US+hospitals+for+years+1999-2008# 

Beata Strack, Jonathan P. DeShazo, Chris Gennings, Juan L. Olmo, Sebastian Ventura, Krzysztof J. Cios, and John N. Clore, “Impact of HbA1c Measurement on Hospital Readmission Rates: Analysis of 70,000 Clinical Database Patient Records,” BioMed Research International, vol. 2014, Article ID 781670, 11 pages, 2014.

The main problems with the dataset are...

#FINISH COMMENT

In [3]:
df = pd.read_csv("diabetic_data.csv", encoding='Latin-1')

Our aim is to remove unnecessary columns. For this reason, we will check for the presence of non-null values.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
encounter_id                101766 non-null int64
patient_nbr                 101766 non-null int64
race                        101766 non-null object
gender                      101766 non-null object
age                         101766 non-null object
weight                      101766 non-null object
admission_type_id           101766 non-null int64
discharge_disposition_id    101766 non-null int64
admission_source_id         101766 non-null int64
time_in_hospital            101766 non-null int64
payer_code                  101766 non-null object
medical_specialty           101766 non-null object
num_lab_procedures          101766 non-null int64
num_procedures              101766 non-null int64
num_medications             101766 non-null int64
number_outpatient           101766 non-null int64
number_emergency            101766 non-null int64
number_inpatient            101766 non-null int64
diag_1                      101766 non-null object
diag_2                      101766 non-null object
diag_3                      101766 non-null object
number_diagnoses            101766 non-null int64
max_glu_serum               101766 non-null object
A1Cresult                   101766 non-null object
metformin                   101766 non-null object
repaglinide                 101766 non-null object
nateglinide                 101766 non-null object
chlorpropamide              101766 non-null object
glimepiride                 101766 non-null object
acetohexamide               101766 non-null object
glipizide                   101766 non-null object
glyburide                   101766 non-null object
tolbutamide                 101766 non-null object
pioglitazone                101766 non-null object
rosiglitazone               101766 non-null object
acarbose                    101766 non-null object
miglitol                    101766 non-null object
troglitazone                101766 non-null object
tolazamide                  101766 non-null object
examide                     101766 non-null object
citoglipton                 101766 non-null object
insulin                     101766 non-null object
glyburide-metformin         101766 non-null object
glipizide-metformin         101766 non-null object
glimepiride-pioglitazone    101766 non-null object
metformin-rosiglitazone     101766 non-null object
metformin-pioglitazone      101766 non-null object
change                      101766 non-null object
diabetesMed                 101766 non-null object
readmitted                  101766 non-null object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB

In [14]:
df.head(3)

,race,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_diagnoses,metformin,repaglinide,glimepiride,tolbutamide,pioglitazone,acarbose,insulin,change,diabetes_med,readmitted
0,Caucasian,Female,[0-10),1,41,0,1,1,No,No,No,No,No,No,No,No,No,NO
1,Caucasian,Female,[10-20),3,59,0,18,9,No,No,No,No,No,No,Up,Ch,Yes,>30
2,AfricanAmerican,Female,[20-30),2,11,5,13,6,No,No,No,No,No,No,No,No,Yes,NO

The columns do not have any null values. However, it is necessary to look for unusual, unclear values and remove them.

First of all, we decided to drop the following columns, as they are not relevant to our research:
    - All medications
    - Weight
    - Admissions type Id
#FINISH COMMENT

In [6]:
to_drop =['weight','admission_type_id','medical_specialty','max_glu_serum','discharge_disposition_id' , 'admission_source_id', 'encounter_id','patient_nbr', 'payer_code', 'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1', 'diag_2', 'diag_3', 'glyburide-metformin',  'chlorpropamide',  'tolazamide', 'glipizide-metformin', 'glimepiride-pioglitazone','metformin-rosiglitazone','metformin-pioglitazone', 'nateglinide', 'examide', 'rosiglitazone','miglitol', 'acetohexamide', 'glipizide', 'glyburide', 'troglitazone', 'A1Cresult']
df.drop(to_drop, inplace=True, axis=1)

In [7]:
df_columns = df.columns
print(df_columns)

Index(['race', 'gender', 'age', 'time_in_hospital', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'number_diagnoses', 'metformin',
       'repaglinide', 'glimepiride', 'tolbutamide', 'pioglitazone', 'acarbose',
       'citoglipton', 'insulin', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

We have decided to keep the following values because ...

#FINISH COMMENT

Now, we provide the value counts for all columns, to remove incorrect and missing data.

In [8]:
df.describe(include='all')

,race,gender,age,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_diagnoses,metformin,repaglinide,glimepiride,tolbutamide,pioglitazone,acarbose,citoglipton,insulin,change,diabetesMed,readmitted
count,101766,101766,101766,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766,101766,101766,101766,101766,101766,101766,101766,101766,101766,101766
unique,6,3,10,NaN,NaN,NaN,NaN,NaN,4,4,4,2,4,4,1,4,2,2,3
top,Caucasian,Female,[70-80),NaN,NaN,NaN,NaN,NaN,No,No,No,No,No,No,No,No,No,Yes,NO
freq,76099,54708,26068,NaN,NaN,NaN,NaN,NaN,81778,100227,96575,101743,94438,101458,101766,47383,54755,78363,54864
mean,NaN,NaN,NaN,4.395987,43.095641,1.339730,16.021844,7.422607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,2.985108,19.674362,1.705807,8.127566,1.933600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,1.000000,1.000000,0.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,2.000000,31.000000,0.000000,10.000000,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,4.000000,44.000000,1.000000,15.000000,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,6.000000,57.000000,2.000000,20.000000,9.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,14.000000,132.000000,6.000000,81.000000,16.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
def value_counter(dataset):
    for index in df.columns:
        print("---- Index: " + index + "----")
        print(df[index].value_counts(normalize=True, sort=True))
value_counter(df)

---- Index: race----
Asian              0.006299
Other              0.014799
Hispanic           0.020017
?                  0.022336
AfricanAmerican    0.188766
Caucasian          0.747784
Name: race, dtype: float64
---- Index: gender----
Unknown/Invalid    0.000029
Male               0.462384
Female             0.537586
Name: gender, dtype: float64
---- Index: age----
[0-10)      0.001582
[10-20)     0.006790
[20-30)     0.016282
[90-100)    0.027445
[30-40)     0.037095
[40-50)     0.095169
[80-90)     0.168986
[50-60)     0.169565
[60-70)     0.220928
[70-80)     0.256156
Name: age, dtype: float64
---- Index: time_in_hospital----
14    0.010239
13    0.011890
12    0.014229
11    0.018228
10    0.023014
9     0.029499
8     0.043148
7     0.057573
6     0.074082
5     0.097931
4     0.136824
1     0.139614
2     0.169251
3     0.174479
Name: time_in_hospital, dtype: float64
---- Index: num_lab_procedures----
121    0.000010
120    0.000010
129    0.000010
118    0.000010
107    0.000010
132    0.000010
126    0.000010
114    0.000020
104    0.000029
113    0.000029
111    0.000029
108    0.000039
109    0.000039
106    0.000049
105    0.000059
103    0.000059
102    0.000079
99     0.000088
100    0.000128
101    0.000128
98     0.000255
96     0.000275
97     0.000305
94     0.000442
95     0.000452
92     0.000472
93     0.000550
91     0.000599
90     0.000639
89     0.000717
         ...
63     0.014248
60     0.015821
59     0.015958
61     0.016096
34     0.016479
58     0.016784
57     0.017167
53     0.017707
55     0.018041
52     0.018061
56     0.018071
54     0.018552
35     0.018739
50     0.018906
51     0.018916
36     0.019280
48     0.020223
49     0.020301
37     0.020429
39     0.020645
47     0.020695
42     0.020763
41     0.020803
46     0.021510
40     0.021628
38     0.021746
45     0.023348
44     0.024527
43     0.027553
1      0.031523
Name: num_lab_procedures, Length: 118, dtype: float64
---- Index: num_procedures----
5    0.030246
4    0.041075
6    0.048680
3    0.092791
2    0.124963
1    0.203821
0    0.458424
Name: num_procedures, dtype: float64
---- Index: num_medications----
81    0.000010
79    0.000010
74    0.000010
75    0.000020
70    0.000020
72    0.000029
66    0.000049
69    0.000049
67    0.000069
68    0.000069
64    0.000079
65    0.000118
61    0.000138
63    0.000138
62    0.000147
59    0.000197
60    0.000226
58    0.000246
57    0.000255
55    0.000314
54    0.000324
56    0.000364
53    0.000393
51    0.000423
52    0.000531
50    0.000540
48    0.000590
49    0.000599
47    0.000727
45    0.000865
        ...
32    0.006122
31    0.006996
30    0.008343
3     0.008844
29    0.009826
28    0.012116
4     0.013924
27    0.014071
26    0.015801
25    0.018552
5     0.019820
24    0.020724
23    0.023839
6     0.026522
22    0.028182
21    0.031739
7     0.034235
20    0.036269
19    0.040072
8     0.042775
18    0.044445
9     0.048277
17    0.048336
10    0.052532
16    0.053358
14    0.056080
15    0.056915
11    0.056944
12    0.058998
13    0.059804
Name: num_medications, Length: 75, dtype: float64
---- Index: number_diagnoses----
14    0.000069
12    0.000088
15    0.000098
11    0.000108
13    0.000157
10    0.000167
16    0.000442
1     0.002152
2     0.010052
3     0.027858
4     0.054409
6     0.099847
7     0.102126
8     0.104318
5     0.111953
9     0.486155
Name: number_diagnoses, dtype: float64
---- Index: metformin----
Down      0.005650
Up        0.010485
Steady    0.180276
No        0.803589
Name: metformin, dtype: float64
---- Index: repaglinide----
Down      0.000442
Up        0.001081
Steady    0.013600
No        0.984877
Name: repaglinide, dtype: float64
---- Index: glimepiride----
Down      0.001906
Up        0.003213
Steady    0.045890
No        0.948991
Name: glimepiride, dtype: float64
---- Index: tolbutamide----
Steady    0.000226
No        0.999774
Name: tolbutamide, dtype: float64
---- Index: pioglitazone----
Down      0.001160
Up        0.002299
Steady    0.068549
No        0.927992
Name: pioglitazone, dtype: float64
---- Index: acarbose----
Down      0.000029
Up        0.000098
Steady    0.002899
No        0.996973
Name: acarbose, dtype: float64
---- Index: citoglipton----
No    1.0
Name: citoglipton, dtype: float64
---- Index: insulin----
Up        0.111196
Down      0.120060
Steady    0.303137
No        0.465607
Name: insulin, dtype: float64
---- Index: change----
Ch    0.461952
No    0.538048
Name: change, dtype: float64
---- Index: diabetesMed----
No     0.229969
Yes    0.770031
Name: diabetesMed, dtype: float64
---- Index: readmitted----
<30    0.111599
>30    0.349282
NO     0.539119
Name: readmitted, dtype: float64

We need to remove the following data:
    - "Unknown/Invalid" Gender
    - "?" Race

In [10]:
df=df[df['gender']!='Unknown/Invalid']
df=df[df['race']!='?']

The column 'citoglipton' can be removed as no patient was taking it.

In [11]:
df = df.drop(['citoglipton'], axis=1)
df.columns

Index(['race', 'gender', 'age', 'time_in_hospital', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'number_diagnoses', 'metformin',
       'repaglinide', 'glimepiride', 'tolbutamide', 'pioglitazone', 'acarbose',
       'insulin', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

We want to clean the column names to make the data more standardised.

In [13]:
df.rename(columns={'diabetesMed':'diabetes_med'}, inplace=True)
df.columns

Index(['race', 'gender', 'age', 'time_in_hospital', 'num_lab_procedures',
       'num_procedures', 'num_medications', 'number_diagnoses', 'metformin',
       'repaglinide', 'glimepiride', 'tolbutamide', 'pioglitazone', 'acarbose',
       'insulin', 'change', 'diabetes_med', 'readmitted'],
      dtype='object')

Also, it is necessary to sort by range the columns "num_lab_procedures" and "num_medications" due to the number of unique values they have.

cols_to_range = ['num_lab_procedures', 'num_medications']
for col in cols_to_range:
    unique_val_col = df[col].unique().shape
    print("Column: '" + col + "' Number of unique values: " + str(unique_val_col))
    print(df[col].value_counts(bins=10, sort=True))
    print("-------")

DELETE NEXT TWO CELLS

#df['repaglinide'].pivot_table(index="way in which medicine is taken", values="repaglinide")
df['repaglinide'].pivot_table().plot(kind='bar')

to_visualise= ['repaglinide', 'metformin', 'glimepiride', 'tolbutamide', 'pioglitazone', 'acarbose', 'insulin']


for col in to_visualise:
    values_plot = df[col].pivot_table(index='medicines being taken', values=col)
    values_plot.plot(kind='pie')

At first glance, we can notice that the majority of people being re-admitted are:
- Caucasian
- Female
- Aged 50+
- takes between 9 and 17 medications
TO BE FINISHED

In [68]:
df.to_csv('cleaned_diabetic_data.csv')